//Import fonts from Google
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fira+Mono&family=Roboto&family=Ubuntu:wght@500&display=swap");

//Mixins
@mixin for-mobile {
	@media (max-width: 900px) {
		@content;
	}
}

@mixin for-desktop {
	@media (min-width: 901px) {
		@content;
	}
}

//Variables:
$main-color: #222235;
$field-color: #3c3c50;
$text-color: #eee;
$green-color: #44ccaa;
$red-color: #f23f3f;
$header-font: "Ubuntu", sans-serif;
$editor-font: "Fira Mono", monospace;
$sans-font: "Roboto", sans-serif;
$serif-font: "EB Garamond", serif;

//Applying the styles

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	color: $text-color;
}

body {
	background-color: $main-color;
}

main {
	padding: 35px;
}

section {
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
	height: 100vh;

	& > h2 {
		margin-right: auto;
		font-family: $header-font;
		font-size: 36px;
	}

	& > button {
		align-self: center;
		border-style: none;
		cursor: pointer;
		&:active {
			position: relative;
			top: 2.5px;
		}
	}
	& .clear-btn {
		width: 70px;
		height: 35px;
		margin-right: 20px;
		border-radius: 20px;
		background-color: $red-color;
	}

	& .show-preview-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		background-color: $green-color;
		border-radius: 50%;
		padding-left: 5px;

		& .icon {
			background-color: #00000000;
		}
	}

	& .change-font-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		width: 35px;
		height: 35px;
		background-color: $main-color;

		& > .icon {
			width: 35px;
			height: 35px;
		}
	}
}

//Editor styles
#editor {
	min-width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 16px;
	border-style: none;
	background-color: $field-color;
	font-family: $editor-font;
	overflow-y: auto;
	transition: outline-color 0.5s ease;

	&:focus {
		outline-style: solid;
		outline-color: $green-color;
	}
}

//Markdown styles
#preview {
	min-width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 16px;
	border-style: none;
	background-color: $field-color;
	overflow-y: auto;

	& > * {
		background-color: #00000000;
		margin: 5px 0 5px 15px;
	}

	& blockquote,
	pre {
		min-height: 50px;
		padding-left: 10px;
		border-left: 3px solid $green-color;
		background-color: $main-color;
		overflow-x: auto;
	}

	& img {
		width: 100%;
		height: auto;
	}
}

//classes to change typefaces
.sans {
	font-family: $sans-font;
}

.serif {
	font-family: $serif-font;
}

//Responsive styles
@include for-desktop {
	main {
		display: flex;
		justify-content: space-between;

		& > section {
			width: 100%;
		}

		& > :first-child {
			margin-right: 25px;
			position: relative;
		}

		.show-preview-btn {
			display: none;
		}
	}
}
@include for-mobile {
	.hide {
		display: none;
	}
}
